.left__photo {
  width: 50%;
  margin: 100px 0 0;
  position: relative;
  top: 10px;
}

.photo__frame {
  width: 430px;
  height: 430px;
}
.photo__frame img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 85px;
}
.photo__frame .angle__one {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #ffcc00;
  top: -15px;
  left: 69px;
  border-right: none;
  border-bottom: none;
}
.photo__frame .angle__two {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #ffcc00;
  top: -15px;
  right: 83px;
  border-left: none;
  border-bottom: none;
}
.photo__frame .angle__three {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #ffcc00;
  bottom: 85px;
  right: 83px;
  border-left: none;
  border-top: none;
}
.photo__frame .angle__four {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #ffcc00;
  bottom: 85px;
  left: 69px;
  border-right: none;
  border-top: none;
}