//VARIABLES
//colors:
$color-gold: #ffcc00;
$color-grey: #898f8f;
$color-black: #333333;
$color-dark: #00000000;
$color-grey: #56565656;

//font family:
$ffral: "Raleway";
$ff-robo: "Roboto";
$opsan: "Open Sans";
$ffRHD: "Red Hat Display";
$fflato: "Lato";

// font styles, weight, size, line height and letter-spacing:
$fsn: normal;

$fz14: 14px;
$fz19: 19px;
$fz28: 28px;
$fz48: 48px;

$fw500: 500;
$fw900: 900;
$fw600: 600;
$fw400: 400;

$lh32: 32px;
$lh64: 64px;
$lh166: 166%;

$ls005: 0.05em;
$ls01: 0.1em; 

$disinbl: inline-block;
$border: 1px solid #ffcc00;
$vertalmid: middle;
$ttcap: capitalize; 
$texalcent: center;