.news__text {
    display: flex;
    justify-content: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 17px 0 15px 0;
}

.blue-rectangle {
    width: 247px;
    height: 140px;
    background: #bdcdf7;
    margin-bottom: 9px;
}