//VARIABLES
//colors:
$color-gold: #ffcc00;
$color-grey: #898f8f;
$color-black: #333333;
//font family:
$ffral: "Raleway";
$ff-robo: "Roboto";
$opsan: "Open Sans";
//Random font styles:
$fsn: normal;
$fz14: 14px;
$fw500: 500;
$fsn: 900;
$disinbl: inline-block;
$border: 1px solid #ffcc00;
$vertalmid: middle;
$ttcap: capitalize; 
$texalcent: center;