@font-face {
    font-family: 'Aleo';
    src: url('../assets/fonts/Aleo/Aleo-Regular.woff2') format('woff2'),
        url('../assets/fonts/Aleo/Aleo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../assets/fonts/Josefin-Sans/JosefinSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/Josefin-Sans/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../assets/fonts/Josefin-Sans/JosefinSans-Bold.woff2') format('woff2'),
        url('../assets/fonts/Josefin-Sans/JosefinSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

