//VARIABLES
//colors:
$colorwhite: #FFFFFF;
$colorblue: #5373FD;
$colorgrey: #999999;
$color-black: #333333;

//font family:
$ffjossan: 'Josefin Sans'; 

// font styles, weight, size, line height and letter-spacing:
$fsn: normal;

$fz14: 14px;
$fz16: 16px;
$fz20: 20px;
$fz22: 22px;
$fz24: 24px; 
$fz48: 48px;

$fw700: 700;
$fw400: 400;
$fw300: 300; 

$lh20: 20px;
$lh28: 28px; 
$lh52: 52px;

$ttup: uppercase;
$tacen: center; 
$aicen: center; 
$jccen: center; 
$jcspbet: space-between; 
$margin-center: 0 auto;

$ls031: 0.31em;
$ls0031: 0.031em; 
$ls02: 0.2em;
$ls01: 0.1em; 
$ls007: 0.07em;
